nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	/* background: #cfd8dc; */
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	padding-left: 1rem;
}

nav a {
	text-decoration: none;
	color: #0d47a1;
}
.div-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: red; */
}

p {
	display: inline-block;
	padding-left: 1rem;
}
img {
	display: inline-block;
	vertical-align: middle;
	/* border-radius: 50%; */
}

@media only screen and (max-width: 600px) {
	nav {
		flex-direction: column;
		align-items: center;
	}
	nav ul {
		flex-direction: column;
		padding-top: 0.5rem;
	}
	nav li {
		padding: 0.5rem 0;
	}
}
